/*

 .page-header  {
  outline-offset: -2px ;
  outline: 2px dashed gold;
}
.main-header-wraper {
 outline-offset: -2px ;
 outline: 2px dashed red;
}

.page-nav  {
z-index: 100;
 outline-offset: -2px ;
 outline: 2px dashed green;
}
.page-menu {
z-index: 100;
 outline-offset: -2px ;
 outline: 2px dashed blue;
}
.page-menu li {
z-index: 100;
 outline-offset: -2px ;
 outline: 2px dashed pink;
}
*/
 {
 outline-offset: -2px ;
 outline: 2px dashed gold;
}

{
  outline-offset: -2px ;
  outline: 2px dashed green;
}
