/*.feedback-call,
header,
.main-advantage
{
  outline-offset: -2px;
  outline: 2px dashed;
}
*/

 {
  outline-offset: -2px ;
  outline: 2px dashed gold;
}
/*
th, td {
  border: 1px solid;
}
table tr:first-child {

}*/

/* slider settings start */
