
/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v20-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('../fonts/roboto-v20-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */

}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */

}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */

}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

/* basic variables */
:root {
  --base-white: #fff;
  --active-white: rgba(255,255,255,0.3);
  --base-dark: #283136;
  --base-black: #000;

  --red-base: #FB565A;
  --red-hover: #E74246;
  --red-active: #D7373B;

  --green-base: #00CA74;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --range-bar-color: #00CA74;
  --range-bar-toggle: #ababab;

  --yellow-base: #EFC84A;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;

  --grey-dark: #666666;
  --grey-mute: #e1e1e1;
  --grey-base: #EEEEEE;
  --grey-hover: #DFDFDF;
  --grey-active: #D5D5D5;
  --shadow-color: rgb(219, 219, 219);
  --grey-fiedls-hover: #B4B9BB;
}

/* global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--base-dark);
  background-color: var(--base-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* global custom styles */
.btn {
  display: block;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 3px;
}

.container {
  margin: 0 auto;
  width: 1160px;
}
/* hide element */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* page settings  */

.page {
  height: 100%;
}
/*  page grid settings */
.page-body {
  min-height: 100%;
  display: grid;   /* essential page grid  */
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows:
  min-content
  1fr
  min-content;
  width: 100%;
  min-height: 100vh;
}
/* header */
.page-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 48px;

  background-color: var(--grey-base);
}

.page-header .header-logo:active img {
  opacity: 0.3;
}

.main-header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* page menu */
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 798px;
  height: 17px;
  padding-top: 10px;
  background-color: var(--grey-base);
}

.page-nav .page-menu {
  display: flex;
  justify-content: space-between;
  width: 438px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  list-style: none;
  background-color: transparent;
}

/* user navigation */
.page-nav a {
  color: var(--base-black);
  text-transform: uppercase;
  font-weight: 500;
}

.page-nav .header-trash {
  padding-left: 40px;
  background-image: url('../img/svg/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-nav a:hover {
  color: var(--red-base);
}

.page-nav a:active,
.page-nav .current-page {
  color: var(--grey-active);
  padding-bottom: 19px;
  border-bottom: 2px solid var(--red-base);
}

.page-nav .current-page {
  color: var(--base-black);
}

.user-navigation {
  position: relative;
}

/* main slider */

.main-slider {
  height: 425px; /* will be delited */
  background-color: var(--grey-base);
}

.main-slider .slider-wraper-list {
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-top: 72px;
  background-repeat: no-repeat;
  background-position: 397px -6px;
  background-size: 760px 431px;
  list-style: none;
}

.main-slider .slider-wraper-1 {
  background-image: url('../img/slider_illustration_1.png');
}

.main-slider .slider-wraper-2 {
  background-image: url('../img/slider_illustration_2.png');
}

.main-slider .slider-wraper-3 {
  background-image: url('../img/slider_illustration_3.png');
}

.main-slider .slider-item {
  display: none;

}

.main-slider .current-slide {
  display: block;
}

.slide-controls-wraper {
  position: absolute;
  top: 310px;
  left: 519px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.slide-controls-wraper .slide-controls-box {
  display: flex;
  justify-content: flex-start;
  width: 663px;
}

.slide-controls-wraper .slide-control {
  width: 18px;
  height: 18px;
  margin-left: 17px;
  padding: 0;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: var(--base-white);
  cursor: pointer;
}

.slide-controls-wraper .slide-toggle {
  display: none;
}

.slide-controls-wraper .current {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0 auto;
  background-color: var(--base-white);
  border-radius: 50%;
  border: 2px solid var(--grey-active);
}


.main-slider .slider-slogan,
.main-slider .slogan-content{
  margin: 0px;
  padding: 0px;
}

.main-slider .slogan-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--base-black);
}

.main-slider .slogan-content {
  margin-top: 36px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: var(--base-dark);
}

.main-slider .slider-more {
  width: 240px;
  margin-top: 26px;
  color: var(--base-white);
  background-color: var(--red-base);
}

.main-slider .slider-more:hover {
  background-color: var(--red-hover);
}

.main-slider .slider-more:active {
  background-color: var(--red-active);
  color: var(--active-white);

}
/* main conent */
.page-content {
  grid-area: content;
  margin-bottom: 87px;
}

/* main-advantage services */
.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 79px;
  padding-bottom: 80px;
  padding-right: 60px;
  border-bottom: 2px solid var(--grey-base);
  list-style: none;
}

.services-item .main-services-header {
  margin: 0px;
  margin-top: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.services-item .main-services-text {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--base-dark);
}

.services-item .buy {
  width: 160px;
  color: var(--base-white);
  font-size: 16px;
}

.services-item .buy:active {
  color: var(--active-white);
}

.services-item .webs {
  background-color: var(--red-base);
}

.services-item .webs:hover {
  background-color: var(--red-hover);
}

.services-item .webs:active {
  background-color: var(--red-active);
}

.services-item .apps {
  background-color: var(--green-base);
}

.services-item .apps:hover {
  background-color: var(--green-hover);
}

.services-item .apps:active {
  background-color: var(--green-active);
}

.services-item .presentations {
  background-color: var(--yellow-base);
}

.services-item .presentations:hover {
  background-color: var(--yellow-hover);
}
.services-item .presentations:active {
  background-color: var(--yellow-active);
}

/* main-advantage description */
.description-indicators-wraper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--grey-base);
}
.description {
  padding-top: 73px;
  padding-bottom: 73px;
}

.description .main-advantage-list {
  margin: 0;
  padding: 0;
  margin-top: 42px;
  list-style: none;
}

.main-advantage-list li:not(.header-item) {
  padding-left: 36px;
  margin-top: 23px;
}
/* rules on list items */
.main-advantage-list li:not(.header-item)::before {
  position: relative;
  top: 13px;
  left: -35px;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--red-base);
}



.description .about-us-header {
  margin: 0;
  padding-bottom: 30px;
  color: var(--base-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;

}

.description .about-us-content {
  margin: 0;
  color: var(--base-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.description .header-item {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

/* indicators */

.indicators {
  padding-top: 39px;
}

.indicators-list {
  width: 360px;
  margin-top: 34px;
}


.indicators-list caption {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.indicators-list th {
  height: 65px;
  padding-left: ;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: left;
}

.indicators-list td {
  height: 52px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.indicators-list sup {
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

/* main-partners */
.main-partners {
  padding-top: 48px;
  padding-bottom: 34px;
  border-bottom: 2px solid var(--grey-base);
}

.main-partners .partners-list {
  display: flex;
  justify-content: space-between;
  align-items: middle;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-partners .partners-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
}

.main-partners .partners-item:first-child{
  width: 269px;
  padding-top: 4px;
  padding-right: 3px;
}

.main-partners .partners-item:nth-child(2){
  padding-left: 10px;
}

.main-partners .partners-item:nth-child(3){
  padding-left: 15px;
}

.main-partners .partners-item:last-child  {
  width: 279px;
  padding-left: 14px;
}

.main-partners .partners-item:not(:last-child)::after {
  position: relative;
  top: 0px;
  left: 50px;
  display: flex;
  justify-content: flex-end;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--grey-base);
}

.main-partners img:hover  {
  opacity: 0.2;
}

.main-partners img:active  {
  opacity: 0.1;
}

/* catalog page */

.catalog {
  margin-bottom: 67px;
}

.main-catalog-wraper {
  display: grid;  /* catalog content grid  */
  grid-template-areas:
  "fh fh"
  "filter catalog"
  "filter change-page";
  grid-template-columns: min-content 1fr;
  grid-template-rows:
  min-content
  1fr
  min-content;
  padding-top: 54px;
}

.catalog-content {
  grid-area: catalog;
  padding-left: 140px;
}

.catalog .catalog-header {
  width: 100%;
  margin: 0px;
  padding-top: 72px;
  padding-right: 19px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--grey-base);
}

/* filters buttons start */

.catalog-content .set-with-properties {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 46px;
}

.label-wraper {
  display: flex;
  width: 360px;
  justify-content: flex-start;
  padding-top: 5px;
}

.set-with-properties .properties-header {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: bottom;
  text-transform: uppercase;
}

.set-with-properties a {
  font-size: 14px;
  line-height: 18px;
  vertical-align: bottom;
  color: var(--base-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.set-with-properties a:hover {
  opacity: 0.6;
}

.set-with-properties a:active {
  opacity: 1;
}

.set-with-properties .pressed {
  opacity: 1;
}

.label-wraper > a {
  margin-right: 25px;
}

.label-wraper > a:last-of-type {
  margin-right: 49px;
}

.label-wraper .arrows-wraper {
  padding-top: 3px;
}

.label-wraper .arrows-wraper :first-child {
  margin-right: 17px;
}

.set-with-properties .down,
.set-with-properties .up {
  padding: 5px 5.5px 0px;
  background-repeat: no-repeat;
  background-position: 0 0;

}

.set-with-properties .down {
  background-image: url('../img/svg/icon-down-dir.svg');
}

.set-with-properties .up {
  background-image: url('../img/svg/icon-up-dir.svg');
}

/* filters buttons end */

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list .catalog-item:not(:first-child):not(:nth-child(2)) {
  margin-top: 29px;
}

.catalog-list .catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item {
  position: relative;
}
.catalog-item:hover {
  box-shadow: 0 6px 15px 0 var(--shadow-color);
}

.catalog-item .catalog-image {
  display: block;
}

.catalog-item::before {
  content: "";
  display: block;
  padding: 20px;
  width: 100%;
  background: url('../img/svg/browser.svg') no-repeat 0 0;
  background-size: contain;
}

.catalog-item:hover::before {
  opacity: 0.14;
}

.catalog-hover-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 360px;
  height: 231px;
  padding-top: 27px;
  border-radius: 0 0 5px 5px ;
  font-weight: 400;
  background-color: var(--grey-base);
  color: var(--grey-dark);
  opacity: 0;
}

.catalog-item:hover .catalog-hover-info {
  opacity: 1;
}

.catalog-hover-info .catalog-card-header {
  display: block;
  margin: 0px; /* control of the vertical indent */
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--base-black);
}

.catalog-hover-info .catalog-card-header:hover {
  color: var(--red-base);
}

.catalog-hover-info .catalog-card-header:active {
  color: var(--grey-active);
}

.catalog-hover-info .catalog-card-info {
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.catalog-hover-info .catalog-card-buy {
  width: 200px;
  margin: 0 auto;
  margin-top: 33px;
  color: var(--base-white);
  background-color: var(--red-base);

}

.catalog-hover-info .catalog-card-buy:hover {
  background-color: var(--red-hover);
}

.catalog-hover-info .catalog-card-buy:active {
  background-color: var(--red-active);
}

/* change page block */
.change-page-block {
  grid-area: change-page;
  display: flex;
  width: min-content;
  padding-top: 54px;
  padding-left: 140px;
}

.catalog .change-page {
  width: 50px;
  color: var(--base-dark);
  background-color: var(--grey-base);
}

.page-content .change-page:last-child{
  width: 260px;
  padding-left: 5px;
}

.change-page-block .change-page:not(:last-child) {
  margin-right: 10px;
}
.catalog .change-page:hover {
  background-color: var(--grey-hover);
}

.catalog .change-page:active {
  background-color: var(--grey-active);
}

.catalog .change-page:visited {
  background-color: var(--base-vhite);
  outline: 3px solid var(--grey-base);
}

.catalog .current-page,
.catalog .current-page:hover {
  line-height: 45px;
  background-color: var(--base-white);
  border: 3px solid var(--grey-hover);
  cursor: default;
}

/* footer */

.page-footer {
  grid-area: footer;
  width: 100%;
  margin: 0 auto;
}

.page-footer .map-location {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url('../img/map.png') no-repeat 0 -30px;
  background-size: cover;
}

.page-footer .map-iframe {
  width: 100%;
  height: 415px;
  margin-top: -8px;
  margin-bottom: -8px;
  border: none;
}

.page-footer  .feedback-call-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 45px;
}


.page-footer .feedback-call {
  padding: 1px;
  width: 319px;
  height: 308px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  background-color: var(--base-white);
}

.feedback-call .feedback-header,
.feedback-call .contacts-info {
  margin: 0px; /* reset paragraph indents*/
  padding: 0px;
}

.feedback-call .feedback-header {
  padding-top: 54px;
  padding-right: 26px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.feedback-call .contacts-info {
  margin-top: 25px;
  padding-left: 50px;
  line-height: 18px;
  text-align: left;
  color: var(--grey-dark);
}

.feedback-call .contacts-number {
  display: block;
  margin-top: 19px;
  padding-left: 50px;
  text-align: left;
  line-height: 18px;
  color: var(--grey-dark);
}

.feedback-call .feedback-form-call {
  width: 220px;
  margin: 37px auto 0;
  color: var(--base-white);
  background-color: var(--red-base);
}

.feedback-call .feedback-form-call:hover {
  background-color: var(--red-hover);
}

.feedback-call .feedback-form-call:active {
  background-color: var(--red-active);
  color: var(--active-white);
}


.page-footer .footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
}

.footer-social .social a {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 81px;
  height: 81px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: var(--grey-mute);
}

.footer-social .social {
  position: relative;
}

.footer-social a::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 25%;
  display: block;
  padding: 20px;
  background-image: url('../img/svg/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.footer-social .fb a::before {
  background-image: url('../img/svg/fb-icon.svg');
}

.footer-social .ig a::before {
  background-image: url('../img/svg/insta-icon.svg');
}

.footer-social .social a:hover{
  background-color: var(--red-hover);
}

.footer-social .social a:active {
  background-color: var(--red-active);
}

.footer-social a:active::before {
  opacity: 0.3;
}


.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-info .info-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.footer-info .info-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
}

/* social buttons start */

.social-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 58px;
}



.footer-info {
  flex-grow: 1;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* social buttons end */



/* pop-up */

.feedback-form-pop-up {
  position: fixed;
  top: 200px;
  left: 25%;
  width: 960px;
  height: 590px;
  padding-top: 63px;
  padding-left: 100px;
  background-color: var(--base-white);
}
.close-pop-up {
  display: none;
}

.open-pop-up {
  display: block;
}

.feedback-form-pop-up .pop-up-fields {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form-pop-up .form-fields {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form-pop-up legend {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 37px;
}
.form-fields li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.feedback-form-pop-up .form-fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback-form-pop-up label {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 9px;
}

.feedback-form-pop-up input {
  width: 360px;
  height: 50px;
  padding: 16px;
  margin-right: 40px;
}

.message-field label {
  margin-top: 34px;
}

.feedback-form-pop-up textarea {
  width: 760px;
  height: 118px;
  padding: 16px;
}

.feedback-form-pop-up .input-value {
  font-size: 16px;
  font-weight: 300;
  border: 2px solid var(--grey-hover);
  border-radius: 3px;
}

.feedback-form-pop-up .input-value:hover {
  border-color: var(--grey-fiedls-hover);
  color: var(--grey-fiedls-hover);
}

.feedback-form-pop-up .input-value:focus {
  border-color: var(--base-black);
  color: var(--dark-base);
}

.feedback-form-pop-up .invaid { /* invalid value for fields */
  color: var(--red-hover);
  border-color: var(--red-hover);
}

.feedback-form-pop-up .send {
  width: 260px;
  margin-top: 47px;
  border: none;
  background-color: var(--red-base);
  color: var(--base-white);
}

.feedback-form-pop-up .send:hover {
  background-color: var(--red-hover);
}

.feedback-form-pop-up .send:active {
  background-color: var(--red-active);
  color: var(--active-white);
}
.feedback-form-pop-up .close-btn {
  position: relative;
  left: 725px;
  bottom: 417px;
  border: none;
  background-color: transparent;
}

.feedback-form-pop-up .close-btn::before,
.feedback-form-pop-up .close-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--red-base);
  content: "";
  display: block;
  width: 27px;
  height: 4px;
  transform: rotate(45deg);
}

.feedback-form-pop-up .close-btn::after {
  transform: rotate(-45deg);
}

.feedback-form-pop-up .close-btn:hover::before,
.feedback-form-pop-up .close-btn:hover::after {
  opacity: 0.4;
  cursor: pointer;
}

.feedback-form-pop-up .close-btn:active::before,
.feedback-form-pop-up .close-btn:active::after {
  opacity: 0.1;
  cursor: pointer;
}

/* forms */

.set-filter-page {
  grid-area: filter;
}

/* global legend for filter */

.catalog .set-filter-page  legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

/* range filter start */
.set-filter-page .set-range {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  border: none;
}
.set-range  legend {
  margin-bottom: 48px;
}

.set-range .range-control {
  position: relative;
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 39px;
  border-radius: 3px;
  background-color: var(--grey-base);
}

.set-range .scale,
.set-range .bar {
  height: 2px;
  background-color: var(--grey-active);
}

.set-range .bar {
  background-color: var(--range-bar-color);
  width: 72%;
}

.set-range .toggle-min,
.set-range .toggle-max {
  position: absolute;
  top: 30px;
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: var(--range-bar-toggle);
  border: 8px solid var(--base-white);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px var(--range-bar-toggle);
}

.set-range .toggle-max {
  left: 62%;
}

.price-control {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.price-control .min-price,
.price-control .max-price {
  padding-left: 1px;
  text-transform: uppercase;
}

.price-control .min-price,
.price-control .max-price,
.price-control input{
  font-size: 16px;
  font-weight: 300;
  line-height 22px;
}

.price-control input {
  width: 80px;
  height: 38px;
  margin-left: 7px;
  padding-left: 14px;
  border: none;
  border-radius: 3px;
  background-color: var(--grey-base);
  text-align: center;
}


/* range filter end */

.set-filter-page .set-filter-item {
  border: none;
  margin-bottom: 43px;
  padding: 0;
}

.set-filter-page .set-filter-item:last-of-type {
  margin-bottom: 48px;
}

.set-filter-item legend {
  margin-bottom: 13px;
  margin-left: -2px;
}


.set-filter-item label {
  display: flex;
  align-content: flex-start;
  font-size: 16px;
  line-height: 25px;
  vertical-align: bottom;
  font-weight: 300;
  color: var(--base-dark);
}

.set-filter-item label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin-left: -1px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.grid-radio-set label::before {
  background-image: url('../img/svg/radio-off.svg');
}

.grid-radio-set input:checked + label::before {
  background-image: url('../img/svg/radio-on.svg');
}

.feature-checkbox-set label::before {
  background-image: url('../img/svg/checkbox-off.svg');
}

.feature-checkbox-set input:checked + label::before {
  background-image: url('../img/svg/checkbox-on.svg');
}

.set-filter-item label:hover::before {
  opacity: 1;
}

/* blaced filter items style start */
.set-filter-item .blocked + label::before {
  opacity: 0.1;
}

.set-filter-item .blocked + label{
  color: var(--grey-active);
}

/* blaced filter items style start */

.set-filter-page .setting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.set-filter-item .setting-item:not(:last-child) {
  margin-bottom: 15px;
}

.set-filter-item input {
  display: none;
}

.set-filter-page .filter-it {
  width: 260px;
  border: none;
  background-color: var(--grey-base);
  color: var(--base-black);
}

.set-filter-page .filter-it:hover {
  background-color: var(--grey-hover);
}

.set-filter-page .filter-it:active {
  background-color: var(--grey-active);
  color: var(--grey-dark);
}
